@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@utility prose {
  --tw-prose-pre-bg: var(--color-surface);
  --tw-prose-td-borders: var(--color-outline);

  code {
    &::before,
    &::after {
      display: none;
    }
    text-wrap: nowrap;
  }

  blockquote {
    font-weight: 400;
  }

  pre {
    @apply border border-outline-variant/30;
  }

  table {
    @apply border border-outline-variant;
  }
  table tr {
    @apply even:bg-surface-container border-b border-outline-variant;
    td {
      @apply px-2.5 py-2.5 border-x border-outline-variant;
    }
  }

  table tr th {
    @apply bg-secondary-container text-primary py-1.5 text-xs px-2.5 uppercase border border-outline-variant;
  }
}

:root {
  --md-filter-chip-label-text-font: 'Inter';
  --md-ref-typeface-plain: 'Inter';
  --md-sys-color-primary: #7d3eb9;
}

@theme {
  --default-font-family: 'Inter', sans-serif;
  --default-border-color: #ccc4ce;
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Lora', sans-serif;

  --color-primary: #253d05;
  --color-on-primary: #ffffff;
  --color-primary-container: #5a7539;
  --color-on-primary-container: #ffffff;
  --color-secondary: #303924;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #667157;
  --color-on-secondary-container: #ffffff;
  --color-tertiary: #083d3a;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #477572;
  --color-on-tertiary-container: #ffffff;
  --color-error: #740006;
  --color-on-error: #ffffff;
  --color-error-container: #cf2c27;
  --color-on-error-container: #ffffff;
  --color-surface: #f9faef;
  --color-on-surface: #0f120c;
  --color-on-surface-variant: #34382d;
  --color-outline: #505449;
  --color-outline-variant: #6b6f62;
  --color-inverse-surface: #2f312a;
  --color-on-inverse-surface: #f1f2e6;
  --color-inverse-primary: #b1d18a;
  --color-surface-bright: #f9faef;
  --color-surface-dim: #c6c7bd;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4e9;
  --color-surface-container: #e8e9de;
  --color-surface-container-high: #dcded3;
  --color-surface-container-highest: #d1d3c8;
  --color-scrim: #000000;
  --color-shadow: #000000;
}

html,
body {
  @apply bg-surface text-on-surface;
}

.dark {
  --color-primary: #c7e79e;
  --color-on-primary: #172b00;
  --color-primary-container: #7d9a59;
  --color-on-primary-container: #000000;
  --color-secondary: #d5e1c2;
  --color-on-secondary: #1f2814;
  --color-secondary-container: #8a9579;
  --color-on-secondary-container: #000000;
  --color-tertiary: #b5e6e1;
  --color-on-tertiary: #002b29;
  --color-tertiary-container: #6b9995;
  --color-on-tertiary-container: #000000;
  --color-error: #ffd2cc;
  --color-on-error: #540003;
  --color-error-container: #ff5449;
  --color-on-error-container: #000000;
  --color-surface: #12140e;
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #dbdecf;
  --color-outline: #b0b3a6;
  --color-outline-variant: #8e9285;
  --color-inverse-surface: #e2e3d8;
  --color-on-inverse-surface: #282b24;
  --color-inverse-primary: #364f17;
  --color-surface-bright: #43453d;
  --color-surface-dim: #12140e;
  --color-surface-container-lowest: #0c0f09;
  --color-surface-container-low: #1c1e18;
  --color-surface-container: #262922;
  --color-surface-container-high: #31342c;
  --color-surface-container-highest: #3c3f37;
}
* {
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.carousel-gap-linier-repeat {
  background: repeating-linear-gradient(
    145deg,
    #7c3aed 0,
    #7c3aed 3px,
    #c4b5fd 3px,
    #c4b5fd 7px
  );
}

.active-entry {
  view-transition-name: entry;
}
.active-entry .thumbnail {
  view-transition-name: entry-image;
}
.active-entry .title {
  view-transition-name: entry-title;
}
.active-entry .stack {
  view-transition-name: entry-subs;
}
